{% extends '::base.html.twig' %}
{% block title %} Accueil {% endblock %}
{% block body %}
    <br><br><br><br>
    <div class="container">
        <ul>
            Mail envoyé
        </ul>


    </div>
{% endblock %}