<nav class="navbar navbar-fixed-top navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">Aramis Support Satisfaction</div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('satisfaction_general_homepage') }}"><i class="fa fa-home"></i>  Tableau de Bord</a> </li>
                {#<li><a href="{{ path('satisfaction_form_homepage', {'numticket': '0'}) }}"><i class="fa fa-bell"></i>  Formulaire</a> </li>#}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <a href="{{ path('logout') }}">Déconnexion</a>
                {% else %}
                    <a href="#">Connexion</a>
                {% endif %}</li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<br><br><br><br>
