{% extends '::base.html.twig' %}
{% block title %} Formulaire Non Répondu {% endblock %}
{% block mainform %}{% include '::corp.html.twig' %}{% endblock %}
{% block footform %}
            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    {{ form_row(satisfactionForm.Modifier) }}
                </div>
            </div>
        {{ form_end(satisfactionForm) }}
    </div>
{% endblock %}
{% block javascripts %}

<script>
    $(document).ready(function() {
        $(':radio:not(:checked)').attr('disabled', true);
    });
</script>
{% endblock %}